<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Bem vindo!</h1>
  <p>Este é um teste de crud de usuário</p>
  <p><%- linkTo('Listar usuários', 'usuarios', {class: 'btn btn-primary btn-large'}) %></p>
</div>
