<div class="hero-unit">
  <form id="usuario-form" class="form-horizontal" action="/usuarios" method="POST">
    <fieldset>
      <legend>Criar novo usuário</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {usuario: params}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Salvar', {type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>
</div>
